name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build HedgeDoc Image
        run: |
          chmod +x ./build.sh
          # 使用标签名作为镜像 tag
          ./build.sh hedgedoc 
      - name: Export and Package
        run: |
          # 根据 build.sh 中的逻辑，镜像名为 hedge_drawio/hedgedoc
          IMAGE_NAME=" hedge_drawio/hedgedoc:\
